*{
    margin: 0;
    font-family: Roboto, arial;
    box-sizing: border-box;
    
}
body{
    background-color: #ffcc66;
}
#container{
    background-color: #fff;
   margin: 0 auto;
    max-width: 1000px;
}

header img
{
    width:100%;
    display: block;
}
nav 
{
    overflow: hidden;
}
nav a{
    display: block;
    text-decoration: none;
    background-color:cadetblue;
    float:left;
    width:25%;
    text-align: center;
    padding:15px 30px;
    color: #fff;
    transition:all 1s ease;
}
nav a:hover{
    background-color: crimson;
}
.active{
    background-color: crimson;
}
article
{
    padding-top: 30px;
    padding-bottom: 20px;
    padding: 0 20px;
}
article h1{
    margin: 0 10% 50px 10%;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}

article img
{    
    width:20%;
    border-radius: 50%;
    float:left;
    margin: 0px 10px 10px 0;
    
}
article p{
    text-align: justify;
    padding: 10px;
    font-size: 18px;
}
section iframe{
    width:100%;
    display: block;
    
}
footer{
    padding:10px 0px;
    background-color: cadetblue;
    text-align: center;
    color: #fff;
}
